/*// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;*/
.wrapper{
	width: 90%;

}

h1 {
	margin: 0;
	color: yellow;
	float: left;
	width: 30%;
	line-height: 75px;
}


#right-menu {
	text-decoration: none;
	float: right;
	width: 40%;
	line-height: 75px;
}

ul {
	margin: 0;
}

#right-menu li {
	display: inline;
}




header{
	border-bottom: solid yellow 4px;
	background-color: black;
	height: 75px;
	
}

nav{
	float: right;
	font-size: 22px;
	text-decoration: none;
	padding-top: 5px;	
	padding-bottom: 50px;
}



nav a{
	color: white;
	text-decoration: none;
	text-align: right;
	padding-left: 20px;
	padding-top: 100px;

}


h2{
	background-color: silver;
	height: 50px;
	text-align: center;
	margin-top: 0px;
	padding-top: 10px;
	font-style: italic;
	margin-bottom: 0px;
}

main{
	background-image: url('../img/coworking.jpg');
	height: 500px;
	background-size: cover;
	margin: 0px;

}

body{
	margin: 0px;
	font-family: "Merriweather", serif;

}

section{
	float: right;
	margin: 0px;
	background-color: rgba(255, 255, 255, 0.5);
	height: 250px;
	width: 300px;
	text-align: center;
	padding: 50px;
	margin-top:50px;
}

section button{
	background-color: yellow;
	height: 75px;
	width: 250px;
	font-size: 18px;
}

aside button{
	background-color: gray;
	height:25px;
	width: 150px;
	text-align: center;

}

div{
	display: inline-block;
	width: 30%;
}

h4{
	font-weight: bold;

}

#box p{
	width: 75%;
	padding: 0 50px 0 0px;
	box-shadow: inset -1px 0 0 rgba(0,0,0,.15);
	font-weight: none;
	
}

#box button{
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;*/
	font-weight: bold;
}

footer{
	background-color: black;
	color: white;
	padding-bottom: 50px;
	padding-top: 50px;	
}
