header{
	font-family: sans-serif 2000px;
	display: inline;
	color: turquoise;
	background-color: navy;
	height: 200px;
}


nav{
	text-align: left;
	float: left;
	display: block;
	font-color: navy;
	font-size: 18px;
	background-color: violet;
	padding-right: 140px;
	padding-left: 90px;
	margin-top: -20px;
	text-align: center;
	width: cover;
}

nav a{
	font-color: turquoise;
	text-align: center;
	padding: 20px;
}

h1{
	text-align: left;
	float: left;
	display: inline;
	background-color: navy;
	background-size: cover;
	font-size: 40px;
	height: 50px;
	margin-bottom: 60px;
	margin-top: -10px;
	padding: 50px 25px 32px 40px;
	
}

h2{
	text-align: right;
	float: right;
	display: inline;
	color: purple;
	margin-top: -10px;
	padding: 30px 20px 28px 20px;
	margin-left: 100px;
	background-color: navy;
}

h2 a{
	background-color: violet;
	font-color: turquoise;

}

section{
	float: right;
	display: inline;
}

main{
	float: left;
	width: 75%;
	height: 4000px;
	overflow: hidden;
	
}


aside{
	float: right;
	height: 200px;
	width: 25%;
	display: inline;
}

footer{
	text-align: center;
	clear: both;
}


article img{
	height: 200px;
	width: 150px;
}

#bottom{
	text-align: center;
	height: 20px;
}